* {
    margin: 0;
    padding: 0;
}

/* Styling for the whole body */
body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Mono';
    font-size: xx-large;
    max-width: 100%;
    overflow-x: hidden;
    transition: 1s;
    background-color: #111;
    padding-top: 100px;
}

/* Styling for the header section */
.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    color: var(--primary-light);
    font-size: x-large;
    z-index: 999;
}